form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-content {
        width: 400px;
    }

    input {
        width: 405px;
        height: 25px;
    }

    input {
        border-radius: 5px;
        border: 2px solid $middle-grey;
    }

    .react-datepicker-wrapper {
        width: 100%;
    }

    label {
        display: block;
        margin-top: 1rem;
        margin-bottom: 10px;
        font-size: 0.875em;
    }
    
    .address {
        margin-top: 10px;
        
        .input-address {
            width: 376px;
        }

        .react-dropdown-select {
            width: 384px;
        }
    }

    .btn-submit {
        margin-top: 20px;
        background-color: $dark-grey;
        color: $light-blue;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        font-size: 1em;
    }

    .error {
        color: red;
        font-size: 0.75em;
        font-weight: bold;
    }
}